{% extends "layouts/base.html" %}

{% block title %} FIR{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">FIR Details</h1>
          
            <div class="card mb-4">
                <div class="card-body text-danger text-center">
                   FIR Number: <b>566784598</b>
                </div>
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <table class=" table table-bordered table-striped" id="daatablesSimple">
                        <!-- <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead> -->
                       
                        <tbody>
                            <tr>
                                <td ><b class="text-success" >Complainer Details</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                            </tr>
                            <tr >
                                <td><b>Name</b></td>
                                <td>System Architect</td>

                                <td><b>Phone</b></td>
                                <td>6178 57876 765</td>
                               
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td>Afgjhjcountant</td>

                                <td></td>
                                <td></td>
                               
                            </tr>

                            <tr>
                                <td ><b class="text-success" >FIR Details</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                            </tr>
                            <tr >
                                <td><b>Police station</b></td>
                                <td>System Architect</td>

                                <td><b>Crime type</b></td>
                                <td>6178 57876 765</td>
                               
                            </tr>
                            <tr>
                                <td><b> Name of accused</b></td>
                                <td>Afgjhjcountant</td>

                                <td><b>Name of Applicant</b></td>
                                <td>eedf</td>
                            </tr>
                            <tr >
                                <td><b>Police station</b></td>
                                <td>System Architect</td>

                                <td><b>Crime type</b></td>
                                <td>6178 57876 765</td>
                               
                            </tr>
                            <tr>
                                <td><b> Parentage of applicant</b></td>
                                <td>Afgjhjcountant</td>

                                <td><b>Contact number</b></td>
                                <td>eedf</td>
                            </tr>
                            <tr >
                                <td><b>Address</b></td>
                                <td>System Architect</td>

                                <td><b>Purpose of FIR</b></td>
                                <td>6178 57876 765</td>
                               
                            </tr>
                            <tr>
                                <td><b> Relation with accused</b></td>
                                <td>Afgjhjcountant</td>

                                <td><b></b></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td><b> Date of FIR</b></td>
                                <td>Afgjhjcountant</td>

                                <td><b>Final status</b></td>
                                <td > <b class="text-success">Approved</b> <b class="text-danger">Declined</b>  </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
